# 변수 지정하기

나이, 이름, 키, 몸무게, 발사이즈, 안경 유무, 결혼 유무, 성별, 취미, 특기

In [3]:
age = 24
name = "Hari"
height = 161
weight = 50
foot_size = 245
glass = False
marriage = False
gender = "female"
hobby = "movies"
specialty = "product management"

반지름(r=10)을 선선한 뒤, 이를 이용해 원의 지름, 둘레 (2*pi*r), 넓이(pi*r의 2승)을 가각 출력하는 파이썬 파일 만들기 (pi=3.1415)

In [6]:
r = 10
pi = 3.1415

diameter = r * 2
circum = r * 2 * pi
area = r ** 2 * pi

print("지름은?", diameter)
print("둘레는?", circum)
print("넓이는?", area)

지름은? 20
둘레는? 62.830000000000005
넓이는? 314.15000000000003

# input

In [2]:
name = input("Hello, What is your name? > ") #input의 default 형식: string 
print("Hi", name, "nice to meet you!")

Hello, What is your name? > Hari
Hi Hari nice to meet you!

In [3]:
name #input의 default 형식: string

'Hari'

# datatype 변환
- type(): datatype 확인하기
- int, float, str, bool

In [32]:
float(3)

3.0

In [33]:
int(3.6)

3

In [34]:
str(1)

'1'

In [37]:
digit_str = "123"
digit_int = int(digit_str)
print(type(float(digit_int)))

<class 'float'>

In [39]:
int(input("How old are you? "))

How old are you? 24

24

In [40]:
digit1 = int(input())
digit2 = int(input())

print(digit1 * digit2)

2
4
8

# string
""" 3개 하면 여러줄의 string을 변수 안에 넣을 수 있다

## string

In [6]:
article = """South Korean director Bong Joon-ho has won the Cannes film festival's most prestigious award.

The Palme d'Or was awarded for his film Parasite, a dark comedy thriller exploring social class dynamics.

The festival came to a close this evening after 11 days of previews of new films and documentaries.

It saw French-Senagalese director Mati Diop become the first black female director to win an award in Cannes' 72-year history.

Diop won the Grand Prix - the equivalent of a silver prize - for Atlantics, a Senegalese drama about young migrants and sexual politics.

Ghouls, goals and rock 'n' roll at Cannes
'Why can only guys make movies?'
Quentin Tarantino's 'brilliant' Hollywood return
Diop had previously said she was "a little sad" that it had taken until 2019 for a film by a woman of African descent to even be screened at the festival.

Meanwhile, US director Quentin Tarantino's latest film Once Upon a Time in Hollywood - which received strong reviews - left the closing ceremony empty handed."""

In [7]:
article

'South Korean director Bong Joon-ho has won the Cannes film festival\'s most prestigious award.\n\nThe Palme d\'Or was awarded for his film Parasite, a dark comedy thriller exploring social class dynamics.\n\nThe festival came to a close this evening after 11 days of previews of new films and documentaries.\n\nIt saw French-Senagalese director Mati Diop become the first black female director to win an award in Cannes\' 72-year history.\n\nDiop won the Grand Prix - the equivalent of a silver prize - for Atlantics, a Senegalese drama about young migrants and sexual politics.\n\nGhouls, goals and rock \'n\' roll at Cannes\n\'Why can only guys make movies?\'\nQuentin Tarantino\'s \'brilliant\' Hollywood return\nDiop had previously said she was "a little sad" that it had taken until 2019 for a film by a woman of African descent to even be screened at the festival.\n\nMeanwhile, US director Quentin Tarantino\'s latest film Once Upon a Time in Hollywood - which received strong reviews - left the closing ceremony empty handed.'

## indexing

In [8]:
print(article[6])

K

## count()

In [9]:
print(article.count("Mati"))

1

## len() & find()

In [11]:
print(len(article)) #띄어쓰기 포함
print(article.find("S")) #맨처음에 나오는 곳
print(article.find("Bong"))

1007
0
22

## replace( , )

In [62]:
print(article.replace("Bong Joon-ho", "Hari Kim"))

South Korean director Hari Kim has won the Cannes film festival's most prestigious award.

The Palme d'Or was awarded for his film Parasite, a dark comedy thriller exploring social class dynamics.

The festival came to a close this evening after 11 days of previews of new films and documentaries.

It saw French-Senagalese director Mati Diop become the first black female director to win an award in Cannes' 72-year history.

Diop won the Grand Prix - the equivalent of a silver prize - for Atlantics, a Senegalese drama about young migrants and sexual politics.

Ghouls, goals and rock 'n' roll at Cannes
'Why can only guys make movies?'
Quentin Tarantino's 'brilliant' Hollywood return
Diop had previously said she was "a little sad" that it had taken until 2019 for a film by a woman of African descent to even be screened at the festival.

Meanwhile, US director Quentin Tarantino's latest film Once Upon a Time in Hollywood - which received strong reviews - left the closing ceremony empty handed.

## strip()

In [72]:
some_string = "    computer    "
print(some_string)
print(some_string.lstrip())
print(some_string.rstrip())
print(some_string.strip())

    computer
computer
    computer
computer

In [80]:
some_string = ",,,computer..."
print(some_string)
print(some_string.lstrip(","))
print(some_string.lstrip("."))
print(some_string.rstrip("."))
print(some_string.rstrip(","))

,,,computer...
computer...
,,,computer...
,,,computer
,,,computer...

# format

In [87]:
print("I have a {}, I have an {}.".format("pen", "apple"))
print("I have an {1}, I have a {0}.".format("pen", "apple"))

I have a pen, I have an apple.
I have an apple, I have a pen.

In [109]:
interest = 0.897

#1
print("format:", format(interest, ".2f")) #두번째 짜리까지 출력 >> 반올림

#2
print("format: {:.2f}".format(interest))

#3
print(f'format: {interest:.2f}')

format: 0.90
format: 0.90
format: 0.90

- %s: string
- %c: character
- %d: int
- %f: float

In [99]:
print("I have a %s, I have a %s." % ("pen", "apple"))
print("I have a %f, I have a %s." % (1.1, "apple"))

I have a pen, I have a apple.
I have a 1.100000, I have a apple.

# list

1. 리스트 선언
```
    - new_list = []
    - new_list = list()
```

2. 리스트 추가
```
    - new_list.append()
    - new_list.insert(num, data)
```

3. 리스트 삭제
```
    - new_list.remove()
    - del new_list[]
```

4. 리스트 데이터 수정
```
    - new_list[] = data
```

## append() & insert(index, data)

In [136]:
location = ['서울시', '경기도', '인천시']
print(location)

# 추가하기1
location.append('부산시') #맨 끝에 추가, 여러개 한번에 넣을 수 없음
print(location)

# 추가하기2
location.insert(1, '경상도') #원하는 위치, 데이터명
print(location)

['서울시', '경기도', '인천시']
['서울시', '경기도', '인천시', '부산시']
['서울시', '경상도', '경기도', '인천시', '부산시']

In [140]:
new_location = []
# OR new_location = list()

new_location.append('서울시')
new_location.append('경기도')
new_location

['서울시', '경기도']

In [1]:
# original
lang = ["java", "c", "c++"]

# lang = ["java", "c", "c++", "golang"]
lang.append("golang")
print(lang)

['java', 'c', 'c++', 'golang']

In [137]:
print(location[-1])

부산시

## remove() & del []

In [138]:
# 삭제하기1
location.remove('경기도')
location

['서울시', '경상도', '인천시', '부산시']

In [139]:
# 삭제하기2
del location[0]
location

['경상도', '인천시', '부산시']

In [150]:
#1) lang = ["c", "java", "c++"]
lang[0] = "c"
lang[1] = "java"
del lang[3]
print(lang)

['c', 'java', 'c++']

In [ ]:
#2) lang = ["c", "java", "c++"]
lang.remove("java")
lang.insert(1, "java")
del lang[3]
print(lang)

## sort(), reverse()

In [158]:
# 정렬하기

numbers = [5, 1, 3, 2, 4]
numbers.sort() #오름차순
print(numbers.sort()) #None
print(numbers)

numbers.reverse() #내림차순
print(numbers.reverse()) #None
print(numbers)

None
[1, 2, 3, 4, 5]
None
[1, 2, 3, 4, 5]

## split()

In [159]:
# string을 list로

python_is_easy = "python is easy"
print(python_is_easy.split())
new_list = python_is_easy.split()
print(new_list)
print(python_is_easy) #원본 손상 없음

['python', 'is', 'easy']
['python', 'is', 'easy']
python is easy

# 조건문

In [170]:
age = int(input("나이는? "))
if age >= 19:
    print("당신은 성인입니다")

나이는? 24
당신은 성인입니다

In [178]:
age1 = int(input("철수의 나이는? "))
age2 = int(input("영희의 나이는? "))
if age1 >= 19 or age2 >= 19:
    print("19금")

철수의 나이는? 19
영희의 나이는? 17
19금

In [179]:
age1 = int(input("철수의 나이는? "))
age2 = int(input("영희의 나이는? "))
if not age1 >= 19 and age2 >= 19:
    print("19금 노")

철수의 나이는? 10
영희의 나이는? 20
19금 노

In [182]:
age = int(input("당신의 나이는?"))
if age <= 13: 
    print("아동")
elif age <= 19:
    print("청소년")
else:
    print("성인")

당신의 나이는?13
아동

In [191]:
cash = int(input("현금은?"))
if cash > 100000:
    print("레스토랑")
else:
    if cash > 50000:
        if cash > 70000:
            print("패밀리레스토랑")
        elif cash > 60000:
            print("밥집")
        else: 
            print("분식집")
    else:
        print("집")

현금은?49999
집